/*
    Document   : styles.scss
    Created on : 10/06/2019, 22:49:15 PM
    Author     : Madvec
    Description:
*/
body {
  color: $grey;
  font-family: $poppin;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow: hidden;
  }
}

/* Definitions */

.content,
.header {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.text-bold {
  font-weight: 700;
}

.text-semi-bold {
  font-weight: 600;
}

.text-blue {
  color: #3c5fe8;
}

.text-grey {
  color: $grey;
}

.btn-custom {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-custom-primary {
  background-color: $lightBlue;
  color: #272727;
  font-family: $barlow;
  font-weight: bold;
  font-size: 32px;
  color: #272727;
}

.btn-custom-primary:hover {
  background-color: $hover-primary;
}

.fw-light-bold {
  font-weight: 600;
}

.f-large {
  font-size: 22px;
}

.f-small {
  font-size: 18px;
}

.title {
  font-family: $barlow;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.font-barlow {
  font-family: $barlow;
}

.hidden {
  visibility: hidden !important;
}

/* End of Definitios */

/* Inview Styles */

.inview-down-up {
  opacity: 0;
  transform: translate(0, 13%);
  transition: opacity 550ms, transform 550ms;
}

.inview-down-up.apply-inview-down-up {
  opacity: 1;
  transform: translate(0, 0);
}

.holder {
  margin: 0 auto;
  max-width: 1325px;
  width: 100%;
}

a, a:hover {
  color: inherit;
  text-decoration: none !important;
}

/* Outer wrapper */
.outer-wrapper {
  position: relative;
}

/* Block */
.block {
  padding: 50px 0;
}

@media (max-width: 767px) {
  .block {
    padding: 25px 0;
  }
}
