@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;600;700&display=swap');

@font-face {
    font-family: "AvenirLTStdBook";
    src: url("../fonts/AvenirLTStdBook.eot");
    src: url("../fonts/AvenirLTStdBook?#iefix") format("embedded-opentype"),
        url("../fonts/AvenirLTStdBook.woff2") format("woff2"),
        url("../fonts/AvenirLTStdBook.woff") format("woff"),
        url("../fonts/AvenirLTStdBook.ttf") format("truetype"),
        url("../fonts/AvenirLTStdBook#AvenirLTStdBook") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "AvenirLTStdHeavy";
    src: url("../fonts/AvenirLTStdHeavy.eot");
    src: url("../fonts/AvenirLTStdHeavy.woff2") format("woff2"),
        url("../fonts/AvenirLTStdHeavy.woff") format("woff"),
        url("../fonts/AvenirLTStdHeavy.ttf") format("truetype"),
        url("../fonts/AvenirLTStdHeavy#AvenirLTStdHeavy") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

