$grey: #414141 !default;
$primary: #1F40C3 !default;
$lightBlue: #49EAFF !default;
$white: #ffffff !default;
$hover-primary: darken($lightBlue, 18%);
$poppin: 'Poppins', sans-serif;
$barlow : 'Barlow', sans-serif;